body {
    font-family:'Times New Roman', Times, serif;
}
.container{
    padding:10px;
    border: 1px solid #ccc;
    width:40%;
    margin:auto;
}
.container.input{
    width:87%;
    height:20px;
}
.container.button{
    width:50px;
    height:25px;
}
.container ul{
    list-style:none;
    padding:0px;
}
.container li{
    color:blue;
}
.container li a{
    float:right;
    color:#000;
    text-decoration:none;
    font-weight:bold;
}
.container #error{
    color:red;
    font-size:14px;
}